.canvas{
    padding-top: 0px;
    padding: 4rem 2rem;
    margin-top: 0px;
    margin-bottom: 2rem;
    animation: animateBg 10s ease infinite;
    background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
    background-size: 500% 500%;
    text-align: center;
}

.heading1{
    font-weight: bolder;
    text-decoration: underline;
}

@keyframes animateBg {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}
  